header{
    width: 100vw;
    background: var(--color2);
    color: var(--color5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.header_content{
    /* background: var(--color2); */
    padding: 20px;

}
.logo_txt{
    font-size: 25px;
}

.navigation_container{
    gap: 20px;
}

nav ul {
    list-style: none;
    gap: 25px;
    margin: 0;
    font-size: 18px !important;
}

nav ul li a{
    font-size: 20px;
    text-decoration: none;
    color: var(--color0);
}

.toggel_container i{
    font-size: 25px;
}

/* header style end */

/* main style start */
main{
    width: 100vw;
}

.sec_one{
    background: url(./assets/images/img\ 1.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
}

/* main style end */




/* mobile responsive */

@media (min-width:0px) and (max-width:575px) {
.logo_txt{
    font-size: 20px;
}
    
    .mini_nav{
        font-size: 25px;
    }
    
}



/* events */

/* .mini_nav:hover nav{
    display: flex;
    flex-direction: column;
    position: relative;
} */